.category-perspective-content{
    width: 100%;
    border-right:25px solid transparent;
    border-left:10px solid transparent;
}

.perspective-title{
    font-size: 3rem;
    color:#444444;
    text-align:center;
    width:100%;
}

.transactions-subp-amount-cell{
    text-align:right;
    padding-right:1.5rem !important;
}

.transactions-subp-date-cell{
    text-align:center;
}