@import "~bootstrap/dist/css/bootstrap.min";
@import "./theme.scss";

////////////////////Global////////////////////
$loading-dot-size:12rem;

.hidden{
  display:none;
}

.perspective-loading{
  color:#444444;
  height:100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: $loading-dot-size;
  padding-bottom: $loading-dot-size/2;
}

@keyframes loading-dots {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
.perspective-loading span{
  animation: loading-dots;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.perspective-loading span:nth-child(2){
  animation-delay: .2s;
}

.perspective-loading span:nth-child(3){
  animation-delay: .4s;
}
/////////////////////App///////////////////////
$app-border-color: #555555;

div .app-base{
  margin: 0px;
  padding:0px 0px;
  overflow:hidden;
  z-index:$content-z-index;
}
.app-content-left{
  border-right: 1px solid $app-border-color;
}
.app-content-right{
  border-left: 1px solid $app-border-color;
}

.perspective-container{
  @extend .row;
  @extend .flex-grow-1;
  padding-left:15px;
}

.perspective{
  @extend .d-flex;
  @extend .flex-row;
  height:100%;
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.perspective-navbar-container{
  z-index:$perspective-navbar-z-index;
  margin-left:0px;
  background-color:$main-color;
  padding-top:10px;
  width:10rem;
  transition: width 1s;
}

.perspective-navbar-container-closed{
  z-index:$perspective-navbar-z-index;
  margin-left:0px;
  background-color:$main-color;
  padding-top:10px;
  width:35px+20px; //10 for left padding, 10 for right padding.
  transition: width 1s;
}

.perspective-navbar-title{
  text-align:center;
  padding-top:40px;
  font-size:1.7rem;
  padding-bottom:40px;
  overflow:hidden;
  transition: color .8s;
  color:white;
}

.perspective-navbar-hamburger-container{
  padding-left:10px;
  cursor:pointer;
  transition-property: padding-top, padding-bottom;
  transition-duration: 1s;
  position:absolute;
}
.perspective-navbar-hamburger-container div{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition-property : background-color, transform, margin-top;
  transition-duration: 1s,1s,1s;
}
.perspective-navbar-hamburger-container-opened{
  padding-top:11px;
  transition-property: padding-top;
  transition-duration: 1s;
}
.perspective-navbar-hamburger-container-opened div:nth-child(1){
  transform:rotate(45deg);
  transition-property : background-color, transform;
  transition-duration: 1s;
}
.perspective-navbar-hamburger-container-opened div:nth-child(2){
  background-color: #00000000;
  transition-property : background-color, transform;
  transition-duration: 1s;
}
.perspective-navbar-hamburger-container-opened div:nth-child(3){
  margin-top:-22px; //2 margins + 2 heights, put it at the same height as the first div.
  transform:rotate(-45deg);
  transition-property : background-color, transform, margin-top;
  transition-duration: 1s,1s,.6s;
}

.perspective-navbar-invisible{
  color:#00000000 !important;
  transition: color .8s;
}

.perspective-navbar-visible{
  color:#ffffff;
}

.perspective-navbar-item{
  overflow: hidden;
  white-space: nowrap;
  padding-left:5px;
}
.no-overflow{
  overflow:hidden;
  white-space: nowrap;
}

.perspective-navbar-item-container{
  @extend .no-overflow;
  text-align:left;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:10px;
  cursor:pointer;
}

.perspective-navbar-item-container:hover span{
  color:lightgreen;
  transition-duration:0s;
  transition-delay:0s;
}

.perspective-navbar-item-container:hover span svg{
  color:lightgreen;
  transition-duration:0s;
  transition-delay:0s;
}

.perspective-navbar-icon {
  color: white;
}

.perspective-navbar-icon:hover {
  color: lightgreen;
}

.perspective-bottom-navbar{
  position:absolute;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}

.perspective-bottom-navbar .perspective-navbar-item-container{
  display:inline-block;
  padding-bottom:0px;
}

.perspective-bottom-navbar .perspective-navbar-icon{
  color: #222222;
  z-index:$navbar-element-z-index;
}

#overall-perspective-mobile-formatted-total{
  color:#222222;
  font-size:3rem;
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top:0px;
  z-index:$navbar-element-z-index;
}