@import "~bootstrap/dist/css/bootstrap.min";

.overall-perspective-content{
  text-align:left;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center	;
  margin:0;
  max-width:1500px !important;
}

.overall-perspective-chart{
  // width:70%;
  max-width: 75vh;
  max-height:100%;
  margin: 0 auto;
}

.overall-perspective-key{
  height:100%;
  display:flex;
  flex-direction:column;
  min-height:21rem;
}

.overall-perspective-key > div:first-child{
  text-decoration:underline;
  font-size:1.7rem;
  color:#444444;
  text-align:center;
}

.overall-perspective-key > div:nth-child(2){
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center	;
  margin-bottom:2.5rem; //to make up for the title
}

.overall-perspective-key-item{
  list-style-type: none;
  font-size:1.2rem;
  color:#444444;
}

.overall-perspective-key-color{
  width:1rem;
  height:1rem;
  border-radius:.5rem;
  display:inline-block;
  margin-right:3px;
}

.overall-perspective-key-percent{
  float:right;
  padding-right: 10px;
}

.overall-perspective-title-and-key{
  display:inline-block;
  white-space:nowrap;
  max-width:100%;
  overflow:hidden;
}

.overall-perspective-key-title{
  white-space:normal;
  word-wrap: break-word;
  font-size:1.5rem;
  color:#444444;
}

.overall-perspective-summary{
  height:100%;
  text-align:center;
  font-size:1.5rem;
  color:#444444;
  display:flex;
  flex-direction:column;
  min-height:21rem;
}

.overall-perspective-summary > div > div > div{
  padding-bottom:20px;
}

.overall-perspective-summary >div:first-child{
  font-size:1.7rem;
  text-decoration:underline;
}

.overall-perspective-summary > div:nth-child(2){
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center	;
  margin-bottom:2.5rem; //to make up for the title
}

.overall-perspective-totals{
  padding-left:0;
  text-align:center;
  //font-family: "Courier New", Courier, monospace;
}